* {
  box-sizing: border-box;
}

.app {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

.param-box {
  position: absolute;
  top: 0;
  left: 0;
  padding: 73px 46px;
}

.param {
  display: flex;
  flex-direction: row;
  height: 60px;
  margin-bottom: 30px;

  &__icon {
    position: relative;
    display: block;
    margin: 10px;
    width: 40px;
    height: 40px;
    z-index: 1000;
    &:hover {
      & > .tooltip {
        display: block;
      }
    }
  }

  &__input,
  &__output {
    line-height: 60px;
    text-align: center;
    font-size: 30px;
  }

  &__input {
    background: none;
    width: 129px;
    outline: 0;
    border: 0;
  }

  &__output {
    display: block;
    width: 60px;
    height: 60px;
    margin-left: 138px;

    &.joint-output {
      position: relative;
      top: 34px;
    }
  }
}

.tooltip {
  display: none;

  position: absolute;
  bottom: 48px;
  left: -32px;

  padding: 11px 24px;
  width: 300px;
  height: 75px;

  background-image: url("./../assets/tooltip_box.png");
  background-size: contain;
  background-repeat: no-repeat;

  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
}

.output-box {
  position: absolute;
  top: 146px;
  left: 544px;

  .omi {
    display: inline-block;
    font-size: 56px;
    width: 200px;
    text-align: center;
    margin: 20px 0;
  }
}

.cross-icon {
  position: relative;
  top: 9px;
  left: 8px;
  height: 48px;
  width: 48px;
  background-image: url("./../assets/cross.png");
  background-size: contain;
  background-repeat: no-repeat;
}
