<div class="app">
  <img src="./../assets/background.jpg" alt="" width="960" />
  <div class="param-box">
    <!-- Masa koluwium -->
    <div class="param">
      <div class="param__icon">
        <div class="tooltip animated bounceIn">
          Masa koluwium
        </div>
      </div>
      <input
        type="text"
        class="param__input"
        id="masaKoluwium"
        name="masaKoluwium"
        [ngModel]="input.masaKoluwium"
        (click)="$event.target.value = null; input.masaKoluwium = null"
        (input)="obliczKlasyfikacjeDlaMasyKoluwium($event.target.value)"
      />
      <div class="param__output">{{ output.m }}</div>
    </div>

    <!-- Objectsc koluwium -->
    <div class="param">
      <div class="param__icon">
        <div class="tooltip animated bounceIn">
          Objętość koluwium
        </div>
      </div>
      <input
        type="text"
        class="param__input"
        id="objetoscKoluwium"
        name="objetoscKoluwium"
        [ngModel]="input.objetoscKoluwium"
        (click)="$event.target.value = null; input.objetoscKoluwium = null"
        (input)="obliczKlasyfikacjeDlaObjetosciKoluwium($event.target.value)"
      />
      <div class="param__output">{{ output.v }}</div>
    </div>

    <!-- Predkosc koluwium -->
    <div class="param">
      <div class="param__icon">
        <div class="tooltip animated bounceIn">
          Prędkość koluwium
        </div>
      </div>
      <input
        type="text"
        class="param__input"
        id="predkoscKoluwium"
        name="predkoscKoluwium"
        [ngModel]="input.predkoscKoluwium"
        (click)="$event.target.value = null; input.predkoscKoluwium = null"
        (input)="obliczKlasyfikacjeDlaPredkosciKoluwium($event.target.value)"
      />
      <div class="param__output">{{ output.s }}</div>
    </div>

    <!-- Liczba ofiar -->
    <div class="param">
      <div class="param__icon">
        <div class="tooltip animated bounceIn">
          Liczba ofiar
        </div>
      </div>
      <input
        type="text"
        class="param__input"
        id="liczbaOfiar"
        name="liczbaOfiar"
        [ngModel]="input.liczbaOfiar"
        (click)="$event.target.value = null; input.liczbaOfiar = null"
        (input)="obliczKlasyfikacjeDlaLiczbyOfiar($event.target.value)"
      />
      <div class="param__output">{{ output.o }}</div>
    </div>

    <!-- Straty po wratosci -->
    <div class="param">
      <div class="param__icon">
        <div class="tooltip animated bounceIn">
          Straty (wartość strat)
        </div>
      </div>
      <input
        type="text"
        class="param__input"
        id="wartoscStrat"
        name="wartoscStrat"
        #wartoscStrat
        [ngModel]="input.stratyWartosc"
        (click)="
          liczbaBudynkow.value = 'N';
          $event.target.value = null;
          input.stratyWartosc = null;
          input.stratyLiczbaBud = null;
          output.e = 0
        "
        (input)="obliczStratyPoWartosciStrat($event.target.value)"
      />
      <div class="param__output joint-output">{{ output.e }}</div>
    </div>

    <!-- Straty liczba budynkow -->
    <div class="param">
      <div class="param__icon">
        <div class="tooltip animated bounceIn">
          Straty (liczba budynków)
        </div>
      </div>
      <input
        type="text"
        class="param__input"
        id="liczbaBudynkow"
        name="liczbaBudynkow"
        #liczbaBudynkow
        [ngModel]="input.stratyLiczbaBud"
        (click)="
          wartoscStrat.value = 'N';
          $event.target.value = null;
          input.stratyWartosc = null;
          input.stratyLiczbaBud = null;
          output.e = 0
        "
        (input)="obliczStratyPoLiczbieBudynkow($event.target.value)"
      />
    </div>
    <!-- End of param box -->
  </div>

  <div class="output-box">
    <h1 class="omi">{{ output.omi }}</h1>
  </div>
</div>
